@using Photor.Core.Models.Post
@using Photor.Extensions
@inject ILikeService likeService;
@model ViewPostViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">   
            <h1><a asp-action="Account" 
                asp-controller="User"
                asp-route-id="@Model.User.Id">@Model.User.UserName</a>'s post</h1>
    <img src="@Model.ImageUrl"></img>
    <p>@Model.Description</p>
    @if (await likeService.FindLikeAsync(Model.Id, User.Id()) != null)
    {
        <form>
            <button asp-action="DeleteLike" asp-controller="Like" asp-route-id="@Model.Id" class="btn btn-primary">Unlike</button>
        </form>
    }
    else
    {
        <form>
            <button asp-action="Add" asp-controller="Like" asp-route-id="@Model.Id" class="btn btn-primary">Like</button>
        </form>
    }

    @if (User.Id() == Model.User.Id)
    {
        <form>
            <button asp-action="Edit" asp-controller="Post" asp-route-id="@Model.Id" class="btn btn-primary">Edit your post</button>
        </form>
        <form>
            <button asp-action="Delete" asp-controller="Post" asp-route-id="@Model.Id" class="btn btn-primary">Delete your post</button>
        </form>
    }
</div>