@using Photor.Core.Models.Post
@using Photor.Extensions
@inject ILikeService likeService;
@model ViewPostViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">   
            <h1><a asp-action="Account" 
                asp-controller="User"
                asp-route-id="@Model.User.Id">@Model.User.UserName</a>'s post</h1>
    <img src="@Model.ImageUrl" style="max-width:50%; max-height:10%;"></img>
    <p>@Model.Description</p>

    <form>
        <input type="hidden" asp-for="@Model.Id"></input>
        <input type="hidden" asp-for="@Model.ImageUrl"></input>
        <input type="hidden" asp-for="@Model.Description"></input>
        <input type="hidden" asp-for="@Model.User.Id"></input>
        <input type="hidden" asp-for="@Model.User.UserName"></input>
        <div class="text-center mb-3">
            @if (await likeService.FindLikeAsync(Model.Id, User.Id()) != null)
            {
                <button asp-action="DeleteLike" asp-controller="Like" asp-route-id="@Model.Id" class="btn btn-primary">Unlike</button>
            }
            else
            {
                <button asp-action="Add" asp-controller="Like" asp-route-id="@Model.Id" class="btn btn-primary">Like</button>
            }
        </div>

        @if (User.Id() == Model.User.Id)
        {
            <div class="text-center mb-3">
                <button asp-action="Edit" asp-controller="Post" asp-route-id="@Model.Id" class="btn btn-primary">Edit your post</button>
                <button asp-action="Delete" asp-controller="Post" asp-route-id="@Model.Id" class="btn btn-primary">Delete your post</button>
            </div>
        }

        <div class="text-center mb-3">
                <label asp-for="@Model.CommentValue">Write your comment here:</label>
                <textarea class="form-control" aria-required="true" asp-for="@Model.CommentValue"></textarea>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="text-center mt-3">
                    <button asp-action="Add" asp-controller="Comment" asp-route-id="@Model.Id" class="btn btn-primary">Add Comment</button>
                </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}