@using Photor.Core.Models.Comment
@model EditCommentViewModel

@{
    ViewData["Title"] = "Edit Comment";
}

<h1 class="text-center">@ViewData["Title"]</h1>


<div class="row">
    <div class="col-md-4 offset-md-4">
        <form id="editComment" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Id"></input>
            <input type="hidden" asp-for="@Model.PostId"></input>
            <input type="hidden" asp-for="@Model.UserId"></input>
            <div class="text-center mb-3">
                <label asp-for="@Model.Content">Comment content</label>
                <input class="form-control" aria-required="true" asp-for="@Model.Content" />
                <span asp-validation-for="@Model.Content" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button id="editCommentSubmit" type="submit" class="btn btn-primary">Edit Comment</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}