@using Photor.Core.Models.User
@using Photor.Extensions
@model UserViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form>
    <div class="text-center">
        <input type="hidden" asp-for="@Model.Id" value="@Model.Id"/>
        <input type="hidden" asp-for="@Model.UserName" value="@Model.UserName"/>
        <input type="hidden" asp-for="@Model.FirstName" value="@Model.FirstName"/>
        <input type="hidden" asp-for="@Model.LastName" value="@Model.LastName"/>
        <h1>@Model.UserName</h1>
        <h2>@Model.FirstName @Model.LastName</h2>
        @if (@Model.Description != null)
        {
            <p>@Model.Description</p>
        }
        @if (User.Id() == Model.Id)
        {
            <form>
                <button asp-action="Edit" asp-controller="User" asp-route-id="@Model.Id" class="btn btn-primary">Edit</button>
            </form>
        }

        @if ((Model?.Posts?.Count ?? 0) == 0)
        {
            <h2 class="mt-5">No posts available</h2>
        }
        else
        {

            <div class="text-center row">
                @foreach (var post in Model.Posts)
                {
                    <div class="card col-4" style="width: 20rem; ">
                        <a asp-action="View" asp-controller="Post" asp-route-id="@post.Id">
                            <img class="card-img-top" style="width: 18rem;" src="@post.ImageUrl" alt="Book Image">
                        </a>
                        <div class="card-body">

                            <h5 class="card-title mt-1">@post.Description</h5>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</form>
