@using Photor.Core.Models.User
@using Photor.Extensions
@model UserViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form>
    <div class="text-center">
        <input type="hidden" asp-for="@Model.Id" value="@Model.Id"/>
        <input type="hidden" asp-for="@Model.UserName" value="@Model.UserName"/>
        <input type="hidden" asp-for="@Model.FirstName" value="@Model.FirstName"/>
        <input type="hidden" asp-for="@Model.LastName" value="@Model.LastName"/>
        <h1>@Model.UserName</h1>
        <h2>@Model.FirstName @Model.LastName</h2>
        
        

        @if (User.Id() == Model.Id)
        {
            <div class="nav-item dropdown">
                 <div class="dropdown">
                     <button class="btn btn-primary" type="button"
                     data-bs-toggle="dropdown">This is your account &#128317;</button>
                     <ul class="dropdown-menu">
                         <li class="nav-item">
                             <a class="dropdown-item" asp-action="Add" asp-controller="Post" class="card-link">Add Post</a>
                         </li>
                         <li class="nav-item">
                             <a class="dropdown-item" asp-action="Edit" asp-controller="User" asp-route-id="@Model.Id" class="card-link">Edit Account</a>
                         </li>
                     </ul>
                 </div>
             </div>
        }
        else if (await friendService.FindUserFriendAsync(User.Id(), Model.Id) != null)
        {
            <div class="nav-item dropdown">
                 <div class="dropdown">
                     <button class="btn btn-primary" type="button"
                     data-bs-toggle="dropdown">&#129303; You are friends &#128317;</button>
                     <ul class="dropdown-menu">
                         <li class="nav-item">
                             <a class="dropdown-item" asp-action="DeleteFriendship" asp-controller="Friend" asp-route-id="@Model.Id" asp-route-returnUrl="@ViewBag.ReturnUrl" class="card-link">Delete friend</a>
                         </li>
                     </ul>
                 </div>
             </div>
        }
        else if (await friendService.FindFriendInvitationAsync(Model.Id, User.Id()) != null)
        {
            <div class="nav-item dropdown">
                 <div class="dropdown">
                     <button class="btn btn-primary" type="button"
                     data-bs-toggle="dropdown">Sent you a friend invitation &#128317;</button>
                     <ul class="dropdown-menu">
                         <li class="nav-item">
                             <a class="dropdown-item" asp-action="AcceptFriendInvitation" asp-controller="Friend" asp-route-senderId="@Model.Id" asp-route-returnUrl="@ViewBag.ReturnUrl" class="card-link">Accept Invitation</a>
                         </li>
                         <li class="nav-item">
                             <a class="dropdown-item" asp-action="RejectFriendInvitation" asp-controller="Friend" asp-route-senderId="@Model.Id" asp-route-returnUrl="@ViewBag.ReturnUrl" class="card-link">Reject Invitation</a>
                         </li>
                     </ul>
                 </div>
             </div>
        }
        else if ((await friendService.FindFriendInvitationAsync(User.Id(), Model.Id)) != null)
        {
            <a class="btn btn-primary" asp-action="DeleteFriendInvitation" asp-controller="Friend" asp-route-id="@Model.Id" asp-route-returnUrl="@ViewBag.ReturnUrl" class="card-link">Delete friend invitation</a>
        }
        else
        {
            <a class="btn btn-primary" asp-action="SendFriendInvitation" asp-controller="Friend" asp-route-receiverId="@Model.Id" asp-route-returnUrl="@ViewBag.ReturnUrl" class="card-link">Send friend invitation</a>
        }

        <hr />

        @if (@Model.Description != null)
        {
            <p>@Model.Description</p>
            <hr />
        }

        @if ((Model?.Posts?.Count ?? 0) == 0)
        {
            <h2 class="mt-5">No posts available</h2>
        }
        else
        {

            <div class="text-center row">
                @foreach (var post in Model.Posts)
                {
                    <partial name="_PostPreviewPartial" model="@post"/>
                }
            </div>
        }
    </div>
</form>
