@using Photor.Core.Models
@using Photor.Extensions
@model UserSearchViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Search</label>
      <input value="@Model.SearchValue" asp-for="@Model.SearchValue" type="text" class="form-control" placeholder="Search by username">
    </div>
    <button type="submit" class="btn btn-primary" asp-controller="User" asp-action="SearchUsersById">Submit</button>
</form>

@if (Model.Users == null){
    <p class="text-center">No matches found</p>
}
else {
    @foreach (var user in Model.Users) {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
                @if (User.Id() == user.Id)
                {
                    <p>This is your account</p>
                }
                else if (await friendService.FindFriendInvitationAsync(User.Id(), user.Id) != null)
                {
                    @if ((await friendService.FindFriendInvitationAsync(User.Id(), user.Id)).SenderId == User.Id())
                    {
                        <a asp-action="DeleteFriendInvitation" asp-controller="Friend" asp-route-id="@user.Id" class="card-link">Delete friend invitation</a>
                    }
                    else
                    {
                        <a asp-action="AcceptFriendInvitation" asp-controller="Friend" asp-route-senderId="@user.Id" class="card-link">Accept Invitation</a>
                        <a asp-action="RejectFriendInvitation" asp-controller="Friend" asp-route-senderId="@user.Id" class="card-link">Reject Invitation</a>
                    }
                }
                else if (await friendService.FindUserFriendAsync(User.Id(), user.Id) == null)
                {
                    <a asp-action="SendFriendInvitation" asp-controller="Friend" asp-route-receiverId="@user.Id" class="card-link">Add friend</a>
                }
                else
                {
                    <a asp-action="DeleteFriendship" asp-controller="Friend" asp-route-id="@user.Id" class="card-link">Delete friend</a>
                }
            </div>
        </div>
    }
}