@using Photor.Core.Models.Friend
@using Photor.Core.Models.User
@using Photor.Core.Parsers
@model FriendInvitationListViewModel

@*
*@
@{
}

<script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        var scrollpos = localStorage.getItem('scrollpos');
        if (localStorage['page'] == "invitations") {
            window.scrollTo(0, scrollpos);
        }
    });

    window.onbeforeunload = function(e) {
        localStorage.setItem('page', "invitations");
        localStorage.setItem('scrollpos', window.scrollY);
    };
</script>

<div class="text-center">
    <img style="width:10%;" referrerpolicy="no-referrer" class="rounded-circle" src="@ViewBag.User.ImageUrl"></img>
    <h1><a asp-action="Account" asp-controller="User" asp-route-id="@Model.UserId">@ViewBag.User.UserName</a>'s received friend invitations</h1>
    <blockquote class="blockquote">
        <p class="mb-0">Total received friend invitations: @((await friendService.GetReceivedFriendInvitationsCountAsync(Model.UserId)))</p>
    </blockquote>
</div>

@if (Model.Invitations.Count() == 0){
    <p class="text-center">No invitations</p>
}
else{
    <nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
        <li class="page-item">
        <a class="page-link" asp-action="Invitations" asp-controller="Friend" asp-route-page="1">First Page</a>
        </li>

        @if (Model.Page == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" asp-action="Invitations" asp-controller="Friend" asp-route-page="@ViewBag.PreviousPage">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-action="Invitations" asp-controller="Friend" asp-route-page="@ViewBag.PreviousPage">Previous</a>
            </li>
        }
        
        <form>
          <input type="number" min="1" max="@ViewBag.LastPage" asp-for="@Model.Page" class="form-control"  placeholder="Page" >
          <button type="submit" asp-action="Invitations" asp-controller="Friend" class="btn btn-primary">Go</button>
        </form>

        @if (Model.AllInvitationsCount <= Model.Page * 5)
        {
            <li class="page-item disabled">
              <a class="page-link" asp-action="Invitations" asp-controller="Friend" asp-route-page="@ViewBag.NextPage">Next</a>
            </li>
        }
        else
        {
            <li class="page-item">
              <a class="page-link" asp-action="Invitations" asp-controller="Friend" asp-route-page="@ViewBag.NextPage">Next</a>
            </li>
        }

        <li class="page-item">
            <a class="page-link" asp-action="Invitations" asp-controller="Friend" asp-route-page="@ViewBag.LastPage">Last Page (@ViewBag.LastPage)</a>
        </li>
    </ul>
</nav>
    @foreach (var invitation in Model.Invitations) {
        <partial name="_UserPreviewPartial" model="@invitation.Sender.ParseToViewModel()"/> 
    }
}