@using Photor.Infrastructure.Data.Models
@model UserPostComment

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center mb-3">
    <div class="card" style="width: 90%;">
        <div class="card-body">
            <img style="width:5%;" referrerpolicy="no-referrer" class="rounded-circle" src="@Model.User.ImageUrl"></img>
            <h5 class="card-title">@Model.User.UserName</h5>
            <p class="card-text">@Model.Content</p>
            <p>Posted @Model.DateTimeOfCreation.GetDateTimeDifferenceText()</p>
            @if (Model.DateTimeOfLastEdit != null)
            {
                <p>Last edited: @Model.DateTimeOfLastEdit.Value.GetDateTimeDifferenceText()</p>
            }
            @if (User.Id() == Model.UserId || User.Id() == Model.Post.UserId)
            {
                <a asp-action="Delete" asp-controller="Comment" asp-route-id="@Model.Id" asp-route-returnUrl="@ViewBag.ReturnUrl" class="btn btn-primary">Delete Comment</a>
            }
            @if (User.Id() == Model.UserId)
            {
                <a asp-action="Edit" asp-controller="Comment" asp-route-id="@Model.Id" asp-route-returnUrl="@ViewBag.ReturnUrl" class="btn btn-primary">Edit Comment</a>
            }
        </div>
    </div>
</div>