@using Photor.Infrastructure.Data.Models
@model Post

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    if (await postService.Accessible(Model, User.Id()) == false)
    {
        Model.ImageUrl = "https://www.keysigns.co.uk/images/no-access-signs-p1310-40478_zoom.jpg";
        Model.Description = "This post is for friends only.";
    }
}

<div class="card col-4" style="width: 20rem; ">
    <a asp-action="View" asp-controller="Post" asp-route-id="@Model.Id">
        <img class="card-img-top" style="width: 18rem;" src="@Model.ImageUrl" alt="Book Image">
    </a>
    <div class="card-body">
        @if (String.IsNullOrEmpty(Model.Description) == false)
        {
            <h5 class="card-title mt-1">@Model.Description</h5>
        }
        else
        {
            <h5>No description</h5>
        }
    </div>
    @if (ViewBag.CardButton == "Unsave")
    {
        <a id="unsavePostButton" asp-action="Delete" asp-controller="Save" asp-route-id="@Model.Id" asp-route-returnUrl="@ViewBag.ReturnUrl" class="btn btn-primary">Unsave Post</a>
    }
    else
    {
        <a id="viewPostButton" asp-action="View" asp-controller="Post" asp-route-id="@Model.Id" class="btn btn-primary">View Post</a>
    }
</div>